*.bak
*~
*.rej
*.orig

# /subprojects
/subprojects/packagecache
/subprojects/googletest-release-*

/build
/debian/geeqie*
/debian/files
/geeqie-cppcheck-build-dir

# The files that are autocreated(!)
README.html

# Development tools (IDE, linters, etc) files
.vscode
meson.build.user
