*.o
*.bak
Makefile
*~
*.rej
*.orig

# GNOME .desktop files
*.desktop

# /
/autom4te.cache
/config.cache
/config.guess
/config.h
/config.log
/config.report
/config.status
/config.sub
/configure.scan
/stamp-h
/stamp-h.in
/intl
/depcomp
/stamp-h1
/intltool-extract.in
/intltool-update.in
/intltool-merge.in

# /po/
/po/POTFILES
/po/cat-id-tbl.c
/po/gqview.pot
/po/stamp-cat-id
/po/*.gmo
/po/geeqie.pot
/po/*.mo
/po/stamp-it
/po/.intltool-merge-cache

# /src/
/src/.deps
/src/geeqie
/src/ui_icons.h

# /src/icons/
/src/icons/icons_inline.h

# /src/pan-view/
/src/pan-view/.deps
/src/pan-view/.dirstamp

# /src/view_file/
/src/view_file/.deps
/src/view_file/.dirstamp

/build-stamp
/debian/geeqie*
/debian/files
/doc/html/

# The files that are autocreated(!)
/src/gq-marshal.[ch]
ChangeLog.html
README.html
ChangeLog
